:root{
    --orange: #EA9010;
    --w-orange: #iFF3E2;
    --dark-orange: #151513;
    --gray: #C9C9C9;
    --w-gray: #F8F9FC;
    --dark-gray: #444545;
    --shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
    }
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: 80vw;
    /* height: 70vh; */
    background-color: var(--dark-gray);
    top: 15vh;
    left: 10vw;
    font-family: roboto;
    position: fixed;
    background-color: var(--w-orange);
    /* transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out; */
    justify-content: space-around;
    z-index: 12;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}
.background-form{
    background-color: black;
    z-index: 5;
    height: 100%;
    width: 100vw;
    opacity: 25%;
    position: fixed;
    align-items: center;
    justify-content: center;
    
}

.horizontal{
    display: flex;
    
    padding: 10% 0;
    
}

.container figure img{
    max-width: 70%;
    min-width: 200px;
    
}

.container figure{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.vertical{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
label{
    display: block;
}

.container button{
    width: fit-content;
    padding: 5px 30px;
    color: var(--w-orange);
    background-color: var(--orange);
    border: 2px solid var(--orange);
    font-size: 18px;
    /* margin: 5vh 0; */
}
.container button:hover{
    background-color: var(--w-orange);
    color: var(--orange);
}
input,textarea{
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--orange);
}
.container input{
    height: 3.5vh;
}
textarea{
    resize: none;
}
.vertical input,textarea{
    width: 100%;
}
@media  (max-width : 600px){
    .horizontal figure {
        display: none;
    }
    .vertical{
        width: 100%;
    }
    
}